.register-container {
    background-image: url('/src/assets/banner2registro.jpg'); /* Cambia por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    background-image: url('/src/assets/banner2registro.jpg'); /* Cambia por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Employee-container {
    background-image: url('/src/assets/banner3.jpg'); /* Cambia por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    background-color: rgba(104, 98, 98, 0.5);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    color: white;
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  .progress-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: #007bff;
  }
  
  .btn-detail {
    background-color: #2daae1;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  /* Animación al pasar el mouse sobre las tarjetas */
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Estilo para el texto en la sección hero */
.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-equal-height .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}